<ion-view cache-view="false" view-title="Layers">
    <ion-content class="padding">
        <button class="button button-full button-positive" ng-click="initGeoDb()">
            Init geo db
        </button>
        <button class="button button-full button-positive" ng-click="saveGeoJson()">
            Save GeoJson
        </button>
        <p>Number of entries: {{resultsCount}}</p>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="geojson in geojsonRecords | orderBy:length" type="item-text-wrap" href="#/geojson/{{geojson.time}}">
                <div>
                    <h2>{{geojson.time| date:'MM/dd/yyyy @ HH:mm'}}</h2><p>{{geojson.length}} meters</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
