<ion-view view-title="Settings">
  <ion-content>
      <ion-list>
          <div ng-repeat="(key, value) in settings">
              <ion-item class="item-stable"
                        ng-click="toggleGroup(key)"
                        ng-class="{active: isGroupShown(key)}">
                  <i class="icon" ng-class="isGroupShown(key) ? 'ion-minus' : 'ion-plus'"></i>
                  &nbsp;
                  {{key | translate}}
              </ion-item>

              <ion-item class="item-accordion"
                        ng-repeat="(setting, state) in value"
                        ng-show="isGroupShown(key)">
                  <toggle-include ng-if="typeOf(state)==='boolean'"></toggle-include>
                  <input-include ng-if="typeOf(state)==='integer'"></input-include>
              </ion-item>
          </div>
      </ion-list>
  </ion-content>
</ion-view>
