<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Map" icon-off="ion-android-map" icon-on="ion-android-map" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <!-- Layers Tab -->
    <ion-tab title="Layers" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/layers">
        <ion-nav-view name="tab-layers"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="WLAN" icon-off="ion-social-rss-outline" icon-on="ion-social-rss" href="#/tab/wlan">
        <ion-nav-view name="tab-wlan"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="Experiment" icon-off="ion-erlenmeyer-flask" icon-on="ion-erlenmeyer-flask" href="#/tab/experiments">
        <ion-nav-view name="tab-experiments"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="Debug" icon-off="ion-bug" icon-on="ion-bug" href="#/tab/debug">
        <ion-nav-view name="tab-debug"></ion-nav-view>
    </ion-tab>


</ion-tabs>
